@model ChemQuizWeb.Data.Level

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Level</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LevelNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LevelNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LevelDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LevelDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LevelLesson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LevelLesson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.GameId)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Levels" asp-action="Edit" asp-route-id="@Model.LevelId" asp-route-gameid="@Model.GameId">Edit</a> |
    <a asp-controller="Games" asp-action="Details" asp-route-id="@Model.GameId">Voltar</a>
</div>
